[run]
source = ../../src
        ../../examples/gen_funcs/
        .

branch = true
	 
data_file = .cov_unit_out

#parallel = true

[report]
omit =
    */__init__.py
    */.tox/*
    */setup.py


[html]    
directory = cov_unit
