repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      exclude: ^(.*\.xml|.*\.svg)$
    - id: trailing-whitespace
      exclude: ^(.*\.xml|.*\.svg)$

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      args: [--profile=black, --line-length=120]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: [--line-length=120]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  -   id: flake8
      args: [--max-line-length=120]
      additional_dependencies:
        - flake8-modern-annotations

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  -   id: blacken-docs
      additional_dependencies: [black==22.12.0]
      files: ^(.*\.py|.*\.rst)$
      args: [--line-length=120]
