repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

- repo: https://github.com/pycqa/isort
  rev: 5.11.4
  hooks:
    - id: isort

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
      args: [--line-length=120]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  -   id: flake8
      args: [--max-line-length=120]

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  -   id: blacken-docs
