language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  
os: linux
dist: trusty
sudo: false

env:
  global:
    - HYDRA_LAUNCHER=fork
    - OMPI_MCA_rmaps_base_oversubscribe=yes
  matrix:
    - MPI=mpich
    - MPI=openmpi

allow_failures:
  - env: MPI=openmpi
  
addons:
  apt:
    packages:
      - gfortran
      - libblas-dev
      - liblapack-dev
    
cache: 
  pip: true
  apt: true

# Setup Miniconda
before_install:
  # Do this conditionally because it saves some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a # For debugging any issues with conda
  - conda config --add channels conda-forge  
  - conda create --yes --name condaenv python=$TRAVIS_PYTHON_VERSION 
  - source activate condaenv

# Currently mpi4py 2.0.0 fails with mpi_init error on some platforms - need dev version from source.
# Mpich can work with conda install - but currently for multiple MPI versions - need to get mpi4py and petsc from source
# ...until conda has a better MPI solution. Could try caching built dependencies to cut time???
install:
  #- conda install $MPI cython #Install mpi4py and petsc from src to match these - until conda packages all match
  - conda install $MPI
  - conda install scipy
  #- pip install git+https://bitbucket.org/mpi4py/mpi4py.git@master
  - pip install mpi4py
  - pip install petsc petsc4py
  - conda install --no-update-deps nlopt
  - conda install pytest pytest-cov
  - conda install coveralls
  # For confirmation of MPI library being used.
  - python conda/find_mpi.py #locate compilers
  - mpiexec --version #Show MPI library details
  - pip install .
  
  #  - python setup.py install

# Run test
script:
  - libensemble/tests/run-tests.sh

# Coverage
after_success:
  - mv libensemble/tests/.cov* .
  - coveralls

after_failure:
  - cat libensemble/tests/regression_tests/log.err
