language: python
sudo: required
dist: xenial
python:
  - 3.5
  - 3.6
  - 3.7

os: linux

env:
  global:
    - HYDRA_LAUNCHER=fork
    - OMPI_MCA_rmaps_base_oversubscribe=yes
  matrix:
    - MPI=mpich

matrix:
  include:
    - os: osx
      osx_image: xcode10.1
      env: MPI=mpich PY=3.7
      language: generic
      python: 3.7

services:
    - postgresql

cache:
  pip: true
  apt: true

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-4.7.10-MacOSX-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-4.7.10-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a # For debugging conda issues
  - conda config --add channels conda-forge
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      conda create --yes --name condaenv python=3.7;
    else
      conda create --yes --name condaenv python=$TRAVIS_PYTHON_VERSION;
    fi
  - source activate condaenv

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        COMPILERS=clang_osx-64;
        MUMPS=mumps-mpi=5.1.2=haf446c3_1007;
    else
        COMPILERS=gcc_linux-64;
        MUMPS=mumps-mpi=5.1.2=h5bebb2f_1007;
    fi

  - conda install $COMPILERS
  - conda install libblas libopenblas # Prevent 'File exists' error
  - conda install nlopt petsc4py petsc $MUMPS mpi4py scipy $MPI
  - pip install flake8       # Conda installs downgrade pytest on python3.4
  - pip install DFO-LS
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-timeout
  - pip install mock
  - pip install coveralls
  - python conda/find_mpi.py # Locate compilers. Confirm MPI library
  - mpiexec --version        # Show MPI library details
  - pip install -e .         # Installing libEnsemble
  - wget https://github.com/balsam-alcf/balsam/archive/0.3.5.1.tar.gz
  - mkdir ../balsam; tar xf 0.3.5.1.tar.gz -C ../balsam;
  - python conda/install-balsam.py

before_script:
  - flake8 libensemble
  - echo "export BALSAM_DB_PATH=~/test-balsam" > setbalsampath.sh
  - source setbalsampath.sh # Imperfect method for env var persist after setup
  - ulimit -Sn 10000   # More concurrent file descriptors (for persis aposmm)

# Run test (-z show output)
script:
  - ./libensemble/tests/run-tests.sh -z

# Track code coverage
after_success:
  - mv libensemble/tests/.cov* .
  - coveralls

after_failure:
- cat libensemble/tests/regression_tests/log.err
