language: python
sudo: required
dist: xenial
python:
  - 3.5
  - 3.6
  - 3.7

os: linux

env:
  global:
    - HYDRA_LAUNCHER=fork
    - OMPI_MCA_rmaps_base_oversubscribe=yes
  matrix:
    - MPI=mpich
    #- MPI=openmpi

matrix:
  include:
    - os: osx
      osx_image: xcode11
      env: MPI=mpich PY=3
      language: generic
      python: 3

services:
    - postgresql

# matrix:
#  allow_failures:
#    - env: MPI=openmpi

# addons:
#   apt:
#     packages:
#       - gfortran
#       - libblas-dev
#       - liblapack-dev

cache:
  pip: true
  apt: true

# Setup Miniconda
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-4.7.10-MacOSX-x86_64.sh -O miniconda.sh;
      sudo installer -pkg /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg -target /;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-4.6.14-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  #- conda update -q -y conda
  - conda info -a # For debugging any issues with conda 
  - conda config --add channels conda-forge
  - conda create --yes --name condaenv python=$TRAVIS_PYTHON_VERSION
  - source activate condaenv

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        wget https://github.com/phracker/MacOSX-SDKs/releases/download/10.14-beta4/MacOSX10.14.sdk.tar.xz;
        mkdir ../sdk; tar xf MacOSX10.14.sdk.tar.xz -C ../sdk;
        COMPILERS=clang_osx-64;
        MUMPS=mumps-mpi=5.1.2=haf446c3_1007;
        #conda install clang=8.0.1;
    else
        COMPILERS=gcc_linux-64;
        MUMPS=mumps-mpi=5.1.2=h5bebb2f_1007;
    fi
  - conda install $COMPILERS
  #S- conda install nlopt petsc4py petsc mpi4py scipy $MPI
  - conda install nlopt petsc4py petsc $MUMPS mpi4py scipy $MPI
  # pip install these as the conda installs downgrade pytest on python3.4
  - pip install flake8
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-timeout
  - pip install mock
  - pip install coveralls
  # For confirmation of MPI library being used.
  - python conda/find_mpi.py # locate compilers
  - mpiexec --version # Show MPI library details
  - pip install -e .
  - python conda/install-balsam.py

before_script:
  - flake8 libensemble
  - echo "export BALSAM_DB_PATH=~/test-balsam" > setbalsampath.sh
  - source setbalsampath.sh
  # Allow 10000 files to be open at once (critical for persistent_aposmm)
  - ulimit -Sn 10000
  # Set conda compilers to use new SDK instead of Travis default.
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        echo "export CONDA_BUILD_SYSROOT=/Users/travis/build/Libensemble/sdk/MacOSX10.14.sdk" > setenv.sh;
        source setenv.sh;
    fi

# Run test (-z show output)
script:
  - ./libensemble/tests/run-tests.sh -z

# Coverage
after_success:
  - mv libensemble/tests/.cov* .
  - coveralls

after_failure:
- cat libensemble/tests/regression_tests/log.err
