include setup.py
include *.cfg
include *.rst
include LICENSE
include CONTRIBUTING.rst
include install/*

recursive-include libensemble *
recursive-include scripts *
recursive-include examples *
recursive-exclude * /__pycache__
recursive-exclude * *.py[co]
recursive-exclude * cov_*/*
recursive-exclude * *.o
recursive-exclude * *.out
recursive-exclude * *.npy
recursive-exclude * *.gitignore
recursive-exclude * *.html
recursive-exclude * .DS_Store
recursive-exclude * .ipynb_checkpoints

include docs
exclude docs/_build