[run]
source = ../..

omit =
    */tests/*
    */unit_tests/*
    */regression_tests/*
    */branin_*/*

branch = true
	 
data_file = .cov_reg_out

parallel = true

include = *.py
          *.c

[report]
omit =
    */__init__.py/*
    */setup.py/*
    */tests/*
    */unit_tests/*
    */regression_tests/*

exclude_lines =
    if __name__ == .__main__.:

[html]    
directory = cov_reg
