#This is the rc file for merged coverage of unit/regression testing
#Individual coverage dirs are created in the relevant directories.

[run]
data_file = .cov_merge_out

[html]
directory = cov_merge

#Report files can be controlled here
#e.g. for libensemble files only - uncomment all below
[report]
omit =
    */__init__.py
    */.tox/*
    */setup.py
    */unit_tests/*
    */unit_tests_nompi/*
    */unit_tests_logger/*
    */regression_tests/*
    */sim_funcs/helloworld.py
    */sim_funcs/executor_hworld.py
    */legacy_balsam_executor.py
    */forkable_pdb.py
    */parse_args.py
    */gen_funcs/old_aposmm.py
    */alloc_funcs/fast_alloc_to_aposmm.py
exclude_lines =
    if __name__ == .__main__.:
