.wy-nav-content {
max-width: 850px !important;
}

.toggle {
  margin-bottom: 40px;
}

.toggle .header {
  cursor: pointer;
  overflow: auto;
  padding-top: 20px;
  background-color: rgb(86,189,119);
  border-top: 2px solid black;

  text-align: center;
  display: flex;
}

.toggle .header:before {
  padding-left: 10px;
  padding-right: 10px;

  content: " ▶ ";
}

.toggle .header.open:before {
  padding-right: 10px;
  padding-left: 10px;
  content: " ▼ ";
}

.underline {
  font-weight: bold;
}
