.wy-nav-content {
max-width: 850px !important;
}

.toggle .header {
  padding-top: 20px;
  padding-bottom: 20px;
  width:300px;
  background-color: lightblue;
  border: 5px solid black;
  text-align: center;
  align-items: center; 
}

.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}

.underline {
  font-weight: bold;
}
